.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row {
    display: flex;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

header {
    padding: 10px 30px 10px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}
.col-left{
    width: 70%;
    text-align: left;
}
.col-right{
    width: 30%;
    text-align: right;
    margin-right: 80px;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.center {
    text-align: center;
}

img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.bold {
  font-weight: bold;
}

.sans-source-reg {
  font-family: 'sans-source-reg';
}

@font-face {
  font-family: 'sans-source-reg';
  src:font-url('media/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sans-source-reg {
  font-family: 'sans-source-reg';
}

@font-face {
  font-family: 'sans-source-reg';
  src:url('/home/annisa/Documents/akademik/sem 5/wbd/tugas web 1/media/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.sans-source-black {
  font-family: 'sans-source-black';
}

@font-face {
  font-family: 'sans-source-black';
  src: url('SourceSansPro-Semibold.ttf');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'sans-source-reg';
}