.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row-header {
    margin: 0px auto;
    padding: 0px auto;
}
.row {
    display: flex;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #fecb89;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

header {
    padding: 10px 30px 10px 30px;
    margin: 0px auto;
    background-color: #b9ac92;
    color: floralwhite;
}
.col-left{
    width: 70%;
    text-align: left;
}
.col-right{
    width: 30%;
    text-align: right;
    margin-right: 80px;
}

.address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
.center {
    text-align: center;
}

img {
    width: 150px;
    height:150px;
    border-radius: 50%;
    object-fit: cover;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}
.margin-left {
  margin-left: 30px;
}
.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 70px 20px;
  height: 100%;
}
.container-content {
  margin: 0px 150px;
}
.bold {
  font-weight: bold;
}

.source-sans-semibold {
  font-family: 'source-sans-semibold';
}

@font-face {
  font-family: 'source-sans-semibold';
  src:url('media/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.source-sans-reg {
  font-family: 'source-sans-reg';
}

@font-face {
  font-family: 'source-sans-reg';
  src:url('media/fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.source-sans-black {
  font-family: 'source-sans-black';
}

@font-face {
  font-family: 'source-sans-black';
  src: url('media/fonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.source-sans-extralight {
  font-family: 'source-sans-extralight';
}

@font-face {
  font-family: 'source-sans-extralight';
  src: url('media/fonts/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.source-sans-light {
  font-family: 'source-sans-light';
}

@font-face {
  font-family: 'source-sans-Light';
  src: url('media/fonts/SourceSansPro-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
h1 {
  font-family: 'source-sans-black';
}
h2 {
  font-family: 'source-sans-reg';
}
p {
  font-family: 'source-sans-reg';
}
a { 
  text-decoration: none; 
  color: black;
}
a:hover {
  color: #ffa931;
  text-decoration: underline;
}